# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.orig

# Media und Static Dateien (optional)
# Wenn du keine generierten statischen Dateien und Medien versionieren möchtest
/static/
/media/

# .env Dateien für Umgebungsvariablen
.env
*.env

# VSCode spezifische Dateien
.vscode/

# Python virtual environment
venv/
env/
.venv/
.env/

# Coverage-Berichte (optional)
.coverage
*.cover
*.coverage
.coverage.*

# Pytest Cache
.cache/

# mypy Cache
.mypy_cache/
.dmypy.json

# Jupyter Notebooks (optional)
.ipynb_checkpoints/

# Django REST Framework spezifische generierte Dateien (optional)
drf-generated/

# Info Bilder
info_imgs/
